section{
  max-width: 900px;
  margin: 80px auto;
  padding: 40px;

  background: rgba(255,255,255,0.05);
  border-radius: 10px;

  color: white;
}
section a{
  color: #6c5ce7;
  text-decoration: none;
  font-weight: bold;
   list-style: none;  
}