.container{
  max-width: 3000px;
  margin: 0 auto;

}


body {
  margin: 0;
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #020617 0%,
    #020617 20%,
    #0f172a 50%,
    #1e1b4b 75%,
    #312e81 100%
  );
 
  background-repeat: no-repeat;
  background-size: cover;
}

header{
 display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
padding:20px 80px;
border-bottom:1px solid #2a2a4a;
}

header h1
{ 
  margin:0;
  font-family: "Faster One", system-ui;
  font-weight: 500;
  font-style: italic;
  font-size: 80px;
  letter-spacing: -2px;
  background: linear-gradient(90deg, #00e5ff, #6c5ce7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   margin-bottom:10px;

  text-shadow: 0 0 4px rgba(108, 92, 231, 0.6);
}

.logo-area{
    display:flex;
  align-items:center;
  gap:20px;
}

header .search_bar {
  display: flex;
    form {
    height: -20px;
    width: 500px;
      display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    form input {
      flex: 1;
      padding: 10px;
      border: none;
      
      font-size: 16px;
      letter-spacing: 1px;
    }
    form button {
      padding: 10px 50px;
      border: none;
      background-color: #6c5ce7;
      color: white;
      font-size: 16px;
      cursor: pointer;
      
    }
  
}



.logo  
{
  width: 200px;
}
.menus_topo{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  background: rgba(10, 10, 30, 0.6);
  backdrop-filter: blur(6px);

  border-top: 1px solid #2a2a4a;
  border-bottom: 1px solid #2a2a4a;

  padding: 15px;
  margin: 0;
}

.menus_topo a{
  font-size: larger;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}
.menus_topo a:hover
{
  color: #6c5ce7;
}

/* PUTA QUE PARIU EU VOU TER FAZER TUDO DE NOVO SÓ QUE PRA CELULAR*/
@media (max-width: 768px){

header{
  flex-direction: column;
  padding:20px;
}

.logo{
  width:120px;
}

header h1{
  font-size:40px;
}

.menus_topo{
  flex-direction:column;
  gap:10px;
}

.menus_topo a{
  padding-left:0;
}

}

