body {
  margin: 0;
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #020617 0%,
    #020617 20%,
    #0f172a 50%,
    #1e1b4b 75%,
    #312e81 100%
  );
 
  background-repeat: no-repeat;
  background-size: cover;
}

header{
display:flex;
align-items:center;
justify-content:space-between;
padding:20px 80px;
border-bottom:1px solid #2a2a4a;
}

header h1
{ 
 
  font-family: "Faster One", system-ui;
   font-weight: 500;
  font-style: italic;
  font-size: 80px;
  letter-spacing: -2px;
  background: linear-gradient(90deg, #00e5ff, #6c5ce7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 4px rgba(108, 92, 231, 0.6);
}

header .search_bar {
  margin-left: 350px;
  display: flex;
    form {
    height: -20px;
    width: 500px;
      display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    form input {
      flex: 1;
      padding: 10px;
      border: none;
      
      font-size: 16px;
      letter-spacing: 1px;
    }
    form button {
      padding: 10px 50px;
      border: none;
      background-color: #6c5ce7;
      color: white;
      font-size: 16px;
      cursor: pointer;
      
    }
  
}

.logo  
{
  width: 200px;
}
.menus_topo{
  padding-left: 40px;
  list-style: none;
  display: flex;
  background: linear-gradient(
    90deg,
    #020617 0%,
    #1e1b4b 20%,
    #312e81 50%,
    #1e1b4b 70%,
    #020617 100%
  );
  padding: 15px;
  margin: 0;
}
.menus_topo a
{
  padding-left: 100px;
  font-size: larger;
  color:white;
  font-weight: bold;
  text-decoration: none;
}
.menus_topo a:hover
{
  color: blueviolet;
}
